{% extends 'base.html' %}


{% block content %}
Cart page

<table>
    <tr>
        <th>Produt</th>
        <th>Price</th>
        <th>Quantity</th>
        <th></th>
    </tr>
    {% for item in cart.cartitem_set.all %}
    <tr>
        <td>{{ item.product.title }}</td>
        <td>{{ item.product.price }}</td>
        <td>{{ item.quantity }}</td>
        <td><a href="{% url 'update-cart' item.product.slug %}">Remove</a></td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'checkout' %}">Checkout</a>


<p>Total price {{ cart.total_price }}</p>

{% endblock %}
