{% extends 'base.html' %}


{% block content %}
Category

<ul>
    {% for product in products %}
    <li><a href="{{ product.get_absolute_url }}">{{ product.title }}</a></li>
    {% endfor %}

</ul>

{% endblock %}
