{% extends 'base.html' %}
{% load static %}

        {% block content %}

		<div id="my-content">
			<section class="main-cards">
				<div class="top-container">
					<a href="#" class="card">
						<img
							src="data:image/gif;base64,R0lGODlhOAA4AIAAAP///wAAACH5BAEAAAEALAAAAAA4ADgAAAI6jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUp3BQA7"
							data-src="{% static 'img/@2x/study.png' %}" data-srcset="{% static 'img/@2x/study.png' %} 1x" class="img-responsive lazy"
							alt="Обучение">
						<p>Обучение</p>
					</a>
					<a href="{% url 'shop' %}" class="card">
						<img
							src="data:image/gif;base64,R0lGODlhOAA4AIAAAP///wAAACH5BAEAAAEALAAAAAA4ADgAAAI6jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUp3BQA7"
							data-src="{% static 'img/@2x/shop.png' %}" data-srcset="{% static 'img/@2x/shop.png' %} 1x" class="img-responsive lazy" alt="Магазин">
						<p>Магазин</p>
					</a>
					<a href="#" class="card">
						<img
							src="data:image/gif;base64,R0lGODlhOAA4AIAAAP///wAAACH5BAEAAAEALAAAAAA4ADgAAAI6jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUp3BQA7"
							data-src="{% static 'img/@2x/cosmetology.png' %}" data-srcset="{% static 'img/@2x/cosmetology.png' %} 1x" class="img-responsive lazy"
							alt="Услуги">
						<p>Услуги</p>
					</a>
					<a href="#" class="card">
						<img
							src="data:image/gif;base64,R0lGODlhOAA4AIAAAP///wAAACH5BAEAAAEALAAAAAA4ADgAAAI6jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUp3BQA7"
							data-src="{% static 'img/@2x/blog.png' %}" data-srcset="{% static 'img/@2x/blog.png' %} 1x" class="img-responsive lazy" alt="Блог">
						<p>Блог</p>
					</a>
				</div>
			</section>
		</div>
 {% endblock %}