{% extends 'base.html' %}


{% block content %}
Product page

<h1>{{ product.title }}</h1>
<p>{{ product.price }}</p>

<img src="{{ product.img.url }}" alt="">

<form action="{% url 'update-cart' product.slug %}" method="get">
    <input type="text" value="1" name="quantity">
    <input type="submit" value="Add to cart">
</form>

{% endblock %}
