{% extends 'base.html' %}
{% load static %}

      {% block header %}
      <header class="header shop-header" style="background-image: url({% static 'img/@2x/shop-background.png' %});">
        <div class="top-container">
          <div class="top-line">
            <div class="mobile-burger">
              <a href="#menu" class="hamburger hamburger--emphatic">
                <div class="hamburger-box">
                  <div class="hamburger-inner"></div>
                </div>
              </a>
            </div>
            <a href="/" class="logo">
              <img
                src="data:image/gif;base64,R0lGODlhLQAtAIAAAP///wAAACH5BAEAAAEALAAAAAAtAC0AAAItjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh40CADs="
                data-src="{% static 'img/@2x/logo45x45.png' %}" data-srcset="{% static 'img/@2x/logo45x45.png' %} 1x" class="img-responsive lazy"
                alt="Главное лого">
            </a>
            <div class="menu-wrap">
              <div class="burger">
                <a href="#menu" class="hamburger hamburger--emphatic">
                  <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                  </div>
                </a>
              </div>

              <a href="#"><i class="fa fa-user"></i></a>
              <a href="#"><i class="fa fa-shopping-cart"></i></a>
              <form>
                <input type="text" placeholder="&#xF002; Поиск">
              </form>
            </div>
          </div>
          <div class="shop-title">
            Магазин
          </div>
          <div class="shop-hero">
            <img src="{% static 'img/@2x/logotext.png' %}" class="img-responsive" alt="">
            <div class="shop-hero__composition">
              <div class="shop-hero__title">Акция!</div>
              <p class="shop-hero__text">
                При первой покупке на сумму от <span>3000<i class="fa fa-rub"></i></span> тоник AQUAton Роза, Виноград
                или Апельсин в подарок!
              </p>
              <a href="#" class="default_btn">К покупкам!</a>
            </div>
          </div>
        </div>
      </header>
      {% endblock %}

    {% block content %}
    <div class="my-content">
      <section class="main-cards shop-cards__first">
        <div class="top-container">
          <a href="#" class="card">
            <img
              src="data:image/gif;base64,R0lGODlhOAA4AIAAAP///wAAACH5BAEAAAEALAAAAAA4ADgAAAI6jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUp3BQA7"
              data-src="{% static 'img/@2x/cosmetology.png' %}" data-srcset="{% static 'img/@2x/cosmetology.png' %} 1x" class="img-responsive lazy"
              alt="Обучение">
            <p>Лицо</p>
          </a>
          <a href="#" class="card">
            <img
              src="data:image/gif;base64,R0lGODlhOAA4AIAAAP///wAAACH5BAEAAAEALAAAAAA4ADgAAAI6jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUp3BQA7"
              data-src="{% static 'img/@2x/body-2.png' %}" data-srcset="{% static 'img/@2x/body-2.png' %} 1x" class="img-responsive lazy" alt="Магазин">
            <p>Тело</p>
          </a>
          <a href="#" class="card">
            <img
              src="data:image/gif;base64,R0lGODlhOAA4AIAAAP///wAAACH5BAEAAAEALAAAAAA4ADgAAAI6jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUp3BQA7"
              data-src="{% static 'img/@2x/tea.png' %}" data-srcset="{% static 'img/@2x/tea.png' %} 1x" class="img-responsive lazy"
              alt="Услуги">
            <p>Чай</p>
          </a>
          <a href="#" class="card">
            <img
              src="data:image/gif;base64,R0lGODlhOAA4AIAAAP///wAAACH5BAEAAAEALAAAAAA4ADgAAAI6jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUp3BQA7"
              data-src="{% static 'img/@2x/bathroom.png' %}" data-srcset="{% static 'img/@2x/bathroom.png' %} 1x" class="img-responsive lazy" alt="Блог">
            <p>Ванна</p>
          </a>
        </div>
      </section>

      <section class="main-cards shop-cards__second">
        <div class="top-container">
          <div class="shop-cards__second-container">
            <a href="#" class="card">
              <img
                src="data:image/gif;base64,R0lGODlhOAA4AIAAAP///wAAACH5BAEAAAEALAAAAAA4ADgAAAI6jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUp3BQA7"
                data-src="{% static 'img/@2x/vitamins.png' %}" data-srcset="{% static 'img/@2x/vitamins.png' %} 1x" class="img-responsive lazy"
                alt="Обучение">
              <p>Добавки</p>
            </a>
            <a href="#" class="card">
              <img
                src="data:image/gif;base64,R0lGODlhOAA4AIAAAP///wAAACH5BAEAAAEALAAAAAA4ADgAAAI6jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUp3BQA7"
                data-src="{% static 'img/@2x/aromagy.png' %}" data-srcset="{% static 'img/@2x/aromagy.png' %} 1x" class="img-responsive lazy" alt="Магазин">
              <p>Аромагия</p>
            </a>
          </div>
        </div>
      </section>
    </div>

    {% endblock %}
