{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Inative</title>
	<meta name="description" content="Shot temp description of Inative site">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<meta property="og:image" content="path/to/image.jpg">
	<link rel="icon" href="{% static 'img/@2x/logo45x45.png' %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/@2x/logo45x45.png' %}">

	<meta name="theme-color" content="#7dab62">

	<style>
		body {
			opacity: 0;
			overflow-x: hidden;
		}

		html {
			background-color: #fff;
		}
	</style>

</head>

<body>
	<div id="my-page">
		<div id="my-header">
			<div class="d-none">
				<nav id="menu">
					<ul>
						<li class="Selected"><a href="/">Главная</a></li>
						<li><a href="#">О нас</a></li>
						<li><a href="#">Как нас найти</a></li>
						<li><a href="#">Оплата и доставка</a></li>
						<li><a href="#">Акции</a></li>
						<li><span>Магазин</span>
							<ul class="Vertical">
								<li><a href="#">Лицо</a></li>
								<li><a href="#">Тело</a></li>
								<li><a href="#">Чай</a></li>
								<li><a href="#">Добавки</a></li>
								<li><a href="#">Аромагия</a></li>
							</ul>
						</li>
						<li><a href="#">Блог</a></li>
					</ul>
				</nav>
			</div>
			{% block header %}
			<header class="header" style="background-image: url({% static 'img/@2x/main-bg.png' %});">
				<div class="top-container">
					<div class="top-line">
						<div class="mobile-burger">
							<a href="#menu" class="hamburger hamburger--emphatic">
								<div class="hamburger-box">
									<div class="hamburger-inner"></div>
								</div>
							</a>
						</div>
						<a href="/" class="logo">
							<img
								src="data:image/gif;base64,R0lGODlhLQAtAIAAAP///wAAACH5BAEAAAEALAAAAAAtAC0AAAItjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh40CADs="
								data-src="{% static 'img/@2x/logo45x45.png' %}" data-srcset="{% static 'img/@2x/logo45x45.png' %} 1x" class="img-responsive lazy"
								alt="Главное лого">
						</a>
						<div class="menu-wrap">
							<div class="burger">
								<a href="#menu" class="hamburger hamburger--emphatic">
									<div class="hamburger-box">
										<div class="hamburger-inner"></div>
									</div>
								</a>
							</div>

							<a href="#"><i class="fa fa-user"></i></a>
							<a href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i></a>
							<form>
								<input type="text" placeholder="&#xF002; Поиск">
							</form>
						</div>
					</div>
					<div class="hero">
						<img src="{% static 'img/@2x/logotext.png' %}" alt="">
						<p>Центр красоты и здоровья</p>
					</div>
				</div>
			</header>
			{% endblock %}
		</div>

		{% block content %}{% endblock %}

		<div id="my-footer">
			<footer class="footer">
				<div class="container">
					<div class="footer__inner">
						<div class="footer__logo">
							<img
								src="data:image/gif;base64,R0lGODlheAB4AIAAAP///wAAACH5BAEAAAEALAAAAAB4AHgAAAKQjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusraelIAADs="
								data-src="{% static 'img/@2x/inative120x120.png' %}" data-srcset="{% static 'img/@2x/inative120x120.png' %} 1x"
								class="img-responsive lazy" alt="Логотип сайта">
							<span>© 2020 INATIVE</span>
						</div>
						<div class="footer__contacts">
							<p class="footer__title">Контакты</p>
							<p class="footer__contacts-email">yagafarova76@mail.ru</p>
							<p class="footer__contacts-phone">8 (917) 272-04-41</p>
						</div>
						<div class="footer__customer">
							<div class="footer__title">Покупателю</div>
							<nav>
								<ul>
									<li><a href="#">Услуги</a></li>
									<li><a href="#">Магазин</a></li>
									<li><a href="#">Обучение</a></li>
									<li><a href="#">Акции</a></li>
								</ul>
							</nav>
						</div>
						<div class="footer__company">
							<div class="footer__title">О компании</div>
							<nav>
								<ul>
									<li><a href="#">Как нас найти</a></li>
									<li><a href="#">Оплата и доставка</a></li>
									<li><a href="#">Партнерам</a></li>
									<li><a href="#">О нас</a></li>
								</ul>
							</nav>
						</div>
						<div class="footer__news">
							<div class="footer__title">Получать новости об акциях и скидках</div>
							<form method="POST">
								<input type="text" placeholder="Введите email">
								<button>Подписаться</button>
							</form>
							<div class="footer__icons">
								<a href="#"><i class="fa fa-vk"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-paper-plane"></i></a>
							</div>
						</div>
						<div class="footer__contacts-company-container">
							<div class="footer__contacts">
								<p class="footer__title">Контакты</p>
								<p class="footer__contacts-email">yagafarova76@mail.ru</p>
								<p class="footer__contacts-phone">8 (917) 272-04-41</p>
							</div>
							<div class="footer__company">
								<div class="footer__title">О компании</div>
								<nav>
									<ul>
										<li><a href="#">Как нас найти</a></li>
										<li><a href="#">Оплата и доставка</a></li>
										<li><a href="#">Партнерам</a></li>
										<li><a href="#">О нас</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="footer__customer-icons-container">
							<div class="footer__customer">
								<div class="footer__title">Покупателю</div>
								<nav>
									<ul>
										<li><a href="#">Услуги</a></li>
										<li><a href="{% url 'cart' %}">Магазин</a></li>
										<li><a href="#">Обучение</a></li>
										<li><a href="#">Акции</a></li>
									</ul>
								</nav>
							</div>
							<div class="footer__icons">
								<a href="#"><i class="fa fa-vk"></i></a>
								<a href="#"><i class="fa fa-instagram"></i></a>
								<a href="#"><i class="fa fa-paper-plane"></i></a>
							</div>
						</div>
						<div class="footer__copy-mobile">
							<p class="copy-text">
								© 2020 INATIVE
							</p>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<link rel="stylesheet" href="{% static 'css/main.min.css' %}">
	<script src="{% static 'js/scripts.min.js' %}"></script>
	<script type="text/javascript">
		$(function () {
			$('nav#menu').mmenu({
				extensions: ['widescreen', 'pagedim-black'],
				navbar: {
					title: '<img src="{% static 'img/@2x/logotext.png' %}" class="mm-image" alt="">'
				}
			});

			var ham_api = $('#menu').data('mmenu');
			ham_api.bind('open:finish', function() {
				console.log('opened');
				$('.hamburger').addClass('is-active');
			});
			ham_api.bind('close:finish', function() {
				console.log('opened');
				$('.hamburger').removeClass('is-active');
			});

		});
	</script>
</body>

</html>